-pages = ['index', 'nosotros', 'lineas', 'catalogo','galeria', 'contactanos']
-pageTitle = 'Inicio'
-currentPage = 'index'
-siteTitle = 'Sugeinsa Abastecimiento Generales'
-description = 'Bienvenidos al sitio web Sugeinsa SUGEINSA - Somos los mejores proveedores industriales por que contamos con todo tipo de suministros a precios competitivos'
-palabrasClaves='Suministros generales,Suministros Industriales,Equipos Industriales,Productos Ferreteros,Productos Industriales,Contrusccion y Acabados ,Abastecimiento Generales, Articulos de Oficina,Computo y Suministros,Electricos e Iluminacion ,Herramientas Industriales , Equipos de Limpieza ,Equipo de Pintura,Materiales de Limpieza,Materiales de Pintura,Seguridad Industrial,Articulos Deportivos,Envases y Embalajes , Refrigeracion,Accesorios de Transporte,Articulos de escritorio,Papeleria,Cables,Interruptores,Tableros Electricos,Tuberias,Canaletas,Pilas y Linternas,Focos leds,Focos,Iluminacion Industrial,Transformadores,Soldadura,Equipos para Soldar,Bombas,Herramientas Electricas,Candados,Caja de Seguridad,Herramientas de Mano,herramientas Portatiles,Trazados,Corte,Drywall,Herramientas de Construccion,Sanitarios,Termas,Puertas y ventanas,Mallas,Galvanizado,Insumo de limpoieza,Pintura Latex,protection auditiva,Vestuarios de trabajo,Vestuarios de oficina,Reguladores,Industrial,Minero,Médico,Agricultor,Petrolero,Tecnológico ,Computadoras,Laptos,Servidores,Proyectores,Monitores,Componentes,Impresoras,Suministros,Accesorios'
-siguenos = true
