-pages = ['inicio', 'nosotros', 'lineas', 'catalogo','galeria', 'contactanos']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Sugeinsa'
-description = 'Bienvenidos al sitio web Sugeinsa'
-siguenos = true
