extends ../includes/template

block main
  div(class="main-error")
   img(src="img/404.jpg", alt="")
   a(onclick="window.history.back();" class="main-about__item__items__button button secondary") RECUPERAR PAGINA

