extends ../includes/template
append config
    -pageTitle = 'Catalogo'
    -siteTitle = 'Sugeinsa catalogo virtual'
    -description ='Catalogo  - Nuestro Catalogo actualizado cada mes tendra todo lo que necesitas para que empieces hacer tus pedidos con nosotros , podras verlo online o descargarlos en alta calidad'
    -currentPage = 'catalogo'
    -palabrasClaves='Catalogo,Lineas,Suministros Generales Peru,Abastecimiento generales,Articulos de Oficina,Suministros y Computo,Electricos y Iluminacion Ferreteria Industrial,Herramientas Industriales,Materiales contruccion y acabados,Materiales de limpieza,Matariales y equipo de pintura,Seguridad industrial'

block main
  <!-- Catalogo -->
  .main-nosotros  
    section.main-nosotros__content1
      .main-nosotros__content1__item1
        h1(class="main-nosotros__content1__item1__title l-container bounce-top") Catalogo
      div(class="main-nosotros__content2 l-container")    
        p.descripcion Encuentra la mayor variedad de artículos para el mejoramiento del hogar. Además, podrás conocer las últimas novedades, promociones y tips de nuestros colaboradores. *Precios y promociones sujetos a variaciones sin previo aviso. Las imágenes y descripciones son referenciales.
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="http://www.calameo.com/read/005511495f2b6c4489769")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="http://www.calameo.com/read/005511495f2b6c4489769")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="http://www.calameo.com/read/005511495f2b6c4489769")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
        div(class="item zoom-in")
          div.buttons
            a(target="_blank" class="online" href="https://issuu.com/promarthomecenter/docs/piura_-_febrero_2018_-_especial_mue?e=11452420/58374431")
              span VER ONLINE
              div(class="icon arrow-orange-right")
            a(class="descargar" href="http://www.promart.pe/catalogos")
              span DESCARGAR
              div(class="icon arrow-orange-down")
          .img
            img(src="img/categorias/p1.jpg")
          .bottom
            .name Abastecimiento en General
              .date 2018
    include ../blocks/linkcontacto.pug   
        
        
        
        


  <!-- Catalogo-->
