extends ../includes/template
append config
    -pageTitle = 'Lineas'
    -siteTitle = 'Sugeinsa productos de calidad'
    -description ='Nuestras Lineas - En esta seccion podra encontrar Nuestras lineas con todos los productos que necesitas para tu Empresa Somos los Proveedores Industriales '
    -currentPage = 'lineas'
    -palabrasClaves='Proveedores Generales,Suministros Generales Peru,Abastecimiento generales,Articulos de Oficina,Suministros y Computo,Electricos y Iluminacion Ferreteria Industrial,Herramientas Industriales,Materiales contruccion y acabados,Materiales de limpieza,Matariales y equipo de pintura,Seguridad industrial'

block main  

  div(class="main-nosotros")
    section.main-nosotros__content1
      div.main-nosotros__content1__item1
        h1(class="main-nosotros__content1__item1__title l-container bounce-top") Lineas

    div(class="container service l-container fade-in" ng-app="tabApp")    
      div(class="row fade-in " ng-controller="TabController")

        div(class="nav-service col-md-4")
          ul.list-group

            li(class="list-group-item active" ng-class="{ active: isSet(1) }")
              a( ng-click="setTab(1)") Abastecimiento en general

            li( class="list-group-item " ng-class="{ active: isSet(2) }")
              a(ng-click="setTab(2)") Articulos de oficina
            
            li(class="list-group-item " ng-class="{ active: isSet(3) }")
              a( ng-click="setTab(3)") Computo y suministros
            
            li(class="list-group-item " ng-class="{ active: isSet(4) }")
              a( ng-click="setTab(4)") Eléctricos e iluminación

            li(class="list-group-item " ng-class="{ active: isSet(5) }")
              a( ng-click="setTab(5)") Ferreteria Industrial
            
            li(class="list-group-item " ng-class="{ active: isSet(6) }")
              a( ng-click="setTab(6)") Herramientas Industriales

            li(class="list-group-item " ng-class="{ active: isSet(7) }")
              a( ng-click="setTab(7)") Materiales de construccion y acabados

            li(class="list-group-item " ng-class="{ active: isSet(8) }")
              a( ng-click="setTab(8)") Materiales y equipo para limpieza

            li(class="list-group-item " ng-class="{ active: isSet(9) }")
              a( ng-click="setTab(9)") Materiales y equipo para pintura y acabados
            
            li(class="list-group-item " ng-class="{ active: isSet(10) }")
              a( ng-click="setTab(10)") Seguridad Industrial
          
          div(class="card fade-in" style="width: auto;")
            img(class="card-img-top" src="img/portadacatalogo.png" width="100%" alt="Card image cap")
            div.card-body
              h5.card-title ¿Como podemos ayudarte?
              p.card-text Póngase en contacto con nosotros en la oficina exacto más cercana a usted o presentar unasolicitud en línea.
              a(href="pdf/CATÁLOGO SUGEINSA.pdf" target="_blank" class="card-button button secondary")
                i(class="icon-tcard icon-phone")   Ver catalogo
                  

          div(class="card fade-in" style="width: auto;")
            img( class="card-img-top" src="img//cotiza-con-nosotros.jpg" width="100%" alt="Cotiza con Nosotros" title="Cotiza con Nosotros")
            div.card-body
              h5.card-title ¿Como podemos ayudarte?
              p.card-text Póngase en contacto con nosotros en la oficina exacto más cercana a usted o presentar una solicitud en línea.
              a(href="contacto.html" class="card-button button secondary")
                i(class="icon-tcard icon-phone")   Cotizar

          div(class="card fade-in" style="width: auto;")
            img(class="card-img-top" src="img/contactanos.jpg" width="100%" alt="Contactanos" title="Contactanos")
            div(class="card-body")
              h5(class="card-title") ¿Como podemos ayudarte?
              p.card-text Póngase en contacto con nosotros en la oficina exacto más cercana a usted o presentar una solicitud en línea.
              a(href="contacto.html" class="card-button button secondary")
                i(class="icon-tcard icon-phone")   Contactanos


        div(class="info-nav col-md-8")
          div(class="service-content fade-in" ng-show="isSet(1)")
            div(id="categoria1" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/abastecimiento general/slider/no dejes sin proviciones a tu empresa.png" alt="no dejes sin proviciones a tu empresa" title="no dejes sin proviciones a tu empresa")
                div(class="item")
                  img(src="img/lineas/abastecimiento general/slider/comerzcializadora sugeinsa.png" alt="comerzcializadora sugeinsa" title="comerzcializadora sugeinsa")
                div(class="item")
                  img(src="img/lineas/abastecimiento general/slider/llegamos hasta la puera de tu empresa.png" alt="llegamos hasta la puera de tu empresa" title="llegamos hasta la puera de tu empresa")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(2)")
            div(id="categoria2" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Articulos de Oficina/slider/no dejes las oficionas vacias de tu empleados.png" alt="no dejes las oficionas vacias de tu empleados" title="no dejes las oficionas vacias de tu empleados")
                div(class="item")
                  img(src="img/lineas/Articulos de Oficina/slider/cotiza con nosotros articulos de oficina.png" alt="cotiza con nosotros articulos de oficina" title="cotiza con nosotros articulos de oficina")
                div(class="item")
                  img(src="img/lineas/Articulos de Oficina/slider/articulos de oficina a buen precio.png" alt="articulos de oficina a buen precio" title="articulos de oficina a buen precio")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(3)")
            div(id="categoria3" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Computo y Suministros/slider/cotiza el mejor hardware del peru.png" alt="cotiza el mejor hardware del peru" title="cotiza el mejor hardware del peru")
                div(class="item")
                  img(src="img/lineas/Computo y Suministros/slider/tecnologia para tu empresa.png" alt="tecnologia para tu empresa" title="tecnologia para tu empresa")
                div(class="item")
                  img(src="img/lineas/Computo y Suministros/slider/suministros tecnologicos.png" alt="suministros tecnologicos" title="suministros tecnologicos")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(4)")
            div(id="categoria4" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Electricos e Ilumacion/slider/componentes electricos.png" alt="componentes electricos" title="componentes electricos")
                div(class="item")
                  img(src="img/lineas/Electricos e Ilumacion/slider/productos de iluminacion.png" alt="productos de iluminacion" title="productos de iluminacion")
                div(class="item")
                  img(src="img/lineas/Electricos e Ilumacion/slider/accesorios de iluminacion.png" alt="accesorios de iluminacion" title="accesorios de iluminacion")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(5)")
            div(id="categoria5" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Ferreteria Indrustrial/slider/accesorios de ferreteria.png" alt="accesorios de ferreteria" title="accesorios de ferreteria")
                div(class="item")
                  img(src="img/lineas/Ferreteria Indrustrial/slider/herramientas de carpinteria.png" alt="herramientas de carpinteria" title="herramientas de carpinteria")
                div(class="item")
                  img(src="img/lineas/Ferreteria Indrustrial/slider/marcas productos ferreteros.png" alt="marcas productos ferreteros" title="marcas productos ferreteros")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(6)")
            div(id="categoria6" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Herramientas Industriales/slider/herramientas industriales.png" alt="herramientas industriales"  title="herramientas industriales")
                div(class="item")
                  img(src="img/lineas/Herramientas Industriales/slider/mejores marcas herramientas industriales.png" alt="mejores marcas herramientas industriales"  title="mejores marcas herramientas industriales")
                div(class="item")
                  img(src="img/lineas/Herramientas Industriales/slider/cotizacion de herramientas industriales.png" alt="cotizacion de herramientas industriales" title="cotizacion de herramientas industriales")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(7)")
            div(id="categoria7" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Materiales de construccion y acabados/slider/materiales de construccion peru.png" alt="materiales de construccion peru" title="materiales de construccion peru")
                div(class="item")
                  img(src="img/lineas/Materiales de construccion y acabados/slider/equipos para construccion.png" alt="equipos para construccion" title="equipos para construccion")
                div(class="item")
                  img(src="img/lineas/Materiales de construccion y acabados/slider/venta de materiales para acabados de construccion.png" alt="venta de materiales para acabados de construccion" title="venta de materiales para acabados de construccion")
            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(8)")
            div(id="categoria8" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Materiales y equipo de limpieza/slider/venta de materiales para limpieza.png" alt="venta de materiales para limpieza" title="venta de materiales para limpieza")
                div(class="item")
                  img(src="img/lineas/Materiales y equipo de limpieza/slider/cotiza productos para limpieza.png" alt="cotiza productos para limpieza" title="cotiza productos para limpieza")
                div(class="item")
                  img(src="img/lineas/Materiales y equipo de limpieza/slider/venta de equipos para limpieza.png" alt="venta de equipos para limpieza" title="venta de equipos para limpieza")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
          div(class="service-content fade-in" ng-show="isSet(9)")
            div(id="categoria9" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Materiales  equipos de pintura y acabados/slider/equipos para pintar.png" alt="equipos para pintar" title="equipos para pintar")
                div(class="item")
                  img(src="img/lineas/Materiales  equipos de pintura y acabados/slider/productos para acabados.png" alt="productos para acabados" title="productos para acabados")
                div(class="item")
                  img(src="img/lineas/Materiales  equipos de pintura y acabados/slider/venta de materiales para pintura.png" alt="venta de materiales para pintura" title="venta de materiales para pintura")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Alimentos y bebidas
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos deportivos:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Articulos diversoss:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                
                  li
                    span Cafeteria:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                div.col-md-6  
                  li
                    span Envases y embalajes:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
               
                  li
                    span Refrigeracion:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Vehiculos de transporte y Accesorios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
                  li
                    span Variedad:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tota.
            

            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="all") Todos
                button(class="btn bgalery button secondary filter-button" data-filter="hdpe") Alimentos y Bebidas
                button(class="btn bgalery button secondary filter-button" data-filter="sprinkle") Articulos Deportivos
                button(class="btn bgalery button secondary filter-button" data-filter="spray") Articulos Diversos
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Cafeteria
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Envases y Embalajes
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
                button(class="btn bgalery button secondary filter-button" data-filter="irrigation") Vehiculos y Accesorios
              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter hdpe ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p1")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter sprinkle  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p2")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#p3")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p4")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p5")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p6")
                    img(src="img/productos/2.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p7")
                    img(src="img/productos/5.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter irrigation ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#p8")
                    img(src="img/productos/3.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#p9")
                    img(src="img/productos/1.jpg" width="50%" height="100%" alt="img")
                    .info
                      h3 Heading here
                      p Description goes here

          div(class="service-content fade-in" ng-show="isSet(10)")
            div(id="categoria10" class="carousel slide" data-interval="2000" data-ride="carousel")
              div.carousel-inner
                div(class="item active")
                  img(src="img/lineas/Seguridad Industrial/slider/cascos para seguridad industrial.png" alt="cascos para seguridad industrial" title="cascos para seguridad industrial")
                div(class="item")
                  img(src="img/lineas/Seguridad Industrial/slider/venta de materiales para seguridad industrial.png" alt="venta de materiales para seguridad industrial" title="venta de materiales para seguridad industrial")
                div(class="item")
                  img(src="img/lineas/Seguridad Industrial/slider/venta de equipos para seguridad industrial.png" alt="venta de equipos para seguridad industrial" title="venta de equipos para seguridad industrial")

            .mensaje
              blockquote
                p  El abastecimiento general es la funcion logistica mediante la cual se provee a una empresa todo el material necesario para su funcionamiento
            .descripcion  
              h3.descripcion__title  Listado de Productos:
              ul.descripcion__list
                div.col-md-6
                  li
                    span Protección Respiratoria:
                    p Cara Completa 4200 , Media Cara 420 , Cara Completa 300 , Media Cara 200 Filtro y Cartuchos , Cara Completa 6800 , Media Cara 7500 , Media Cara 6200 Kit de Pintura , Cara Completa 5400 , Media Cara 5500 , Respirador R20 , R10 2V y más.
                  li
                    span Protección Visual:
                    p Maverick , Sierra , Aurora , Inserto para Lentes Aurora , Lentes de Malla Forest , Anti Scratch , Virtua V8 , Virtua , Virtua Plus , Googles , Nemesís , Visio , Wildcat , Lentes De Soldar W585 V100 , Jackson V50 , Nitro ll , Top Gun , Turbine , Spy Flex , Everest.
                  li
                    span Protección Auditiva:
                    p Orejera XLS , Orejera XLS con vincha , Orejera EXC , Orejera HPE con vincha , Orejera Sound Control SH , Orejera H9P3E , Orejera H9A con Vincha , Orejera  H7P3E , Tapón 1270 , Tapón Auditivo 1100 , Orejas Suzuca , Orejera Sepang ll con Vincha , Orejera SPA3 con Vincha , Tapón Auditivo , Dispensador , Orejeras para Casco CM501 , Orejera Samurai , Tapón Libus , Tapón Natural , Orejera para Casco CM3000.
                       
                  li
                    span Protección de Cabeza:
                    p Tipo Jockey , Monero con Portalampara , Suspension Sin Ratchet , Suspension con Ratchet , Modelo Charger , H 700 ,Suspension 6 puntos , Suspensión 4 puntos , Minero H 800 , Gorra Anti Choque Coltan , BaseBall Diamond , Quart ll , Minero Everest , Visor para Altas Temperaturas , Visor para Esmerillar , Visor para Esmerilar c/ Cabeza , Careta de Soldar HSL2 , Careta de Soldar. 
                  li
                    span Sistema de Bloqueo:
                    P Candado ,  Tarjetas , Pinzas , Portacandado , Bloqueador de Cable ,  Clavija Universal .
                div.col-md-6 
                  li
                    span Protección de Pies:
                    P Frontera S3 , TW 400 , XR500 S3 , Cargas Dieletectrico  14KV , Cargas Punta de Acero , Titan Clute , Syner Planta de Nitrilo , Rimini , Pintura y planta de Acero Askia , Sierra Extreme , Con Protección Metatarzal , Botín Bulldover , Botas de jebe Forro Azul , Bota y Pantalón , Rockell , Perfonmance , Action , Advance ll , Esparpines de Rayón Aluminizado , Trend 2-1 , Petrolera , One , Leppard , Grinder , Durango , Dunedin 2 , Trust , Dart , Constructor , Concord ,Bamako 2 , Access , Snow.
               
                  li
                    span Protección Contra Derrames:
                    p Cordón T 270 , Cordón T8 , Paños HP100 , Paños HP 156 , Kit Contra Derrame 1 , Kit Contra Derrame 2.              
               
              
                  li
                    span Línea de Traje:
                    p Traje Descartable Contra Polvo , Traje Descartable Contra Quimicos , Mameluco con cinta Norma ANZI , Chaleco con Cinta Norma ANZI , Ropa de Rayon Aluminizado.
                  li
                    span Protección de Alturas:
                    p Arnés WORKMAN , Línea de Vida WORKMAN , Arnés con Chaleco JANUS 12 , Arnés de 3 anillos , Línea de Vida Doble , Línea de Vida Doble MIMAS 113.
                 
                  li
                    span Seguridad Vial:
                    p Cinta Peligro Obras , Señales , Conos y Postes ,  Cinta Reflectiva , Malla de Seguridad , Cachacos de Seguridad . 
                  li
                    span Protección de Manos:
                    p Insulate Neo Grab 6781R , Neoprene 6784 , NSK 26 , Nitri Solve 727 , 9905 NDEX Ultimate , Latex G40 , Nitrilo 640 , Poliuretano G40 , Nitrilo G10 , Puntos de PVC , Neoprene N1 155 , Para Soldar CA 615 , VE 72 , VE 730 ,Cuero Flor FBN 49.
                       
            div.col-md-12
              div(class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h1(class="gallery-title") Algunos Productos
              
              div(align="center")
                button(class="btn bgalery button secondary filter-button" data-filter="1") Protección Respiratoria
                button(class="btn bgalery button secondary filter-button" data-filter="2") Protección Visual
                button(class="btn bgalery button secondary filter-button" data-filter="3") Protección Auditiva
                button(class="btn bgalery button secondary filter-button" data-filter="4") Protección de Cabeza
                button(class="btn bgalery button secondary filter-button" data-filter="5") Sistema de Bloqueo
                button(class="btn bgalery button secondary filter-button" data-filter="6") Refrigeracion
                button(class="btn bgalery button secondary filter-button" data-filter="7") Protección de Pies
                button(class="btn bgalery button secondary filter-button" data-filter="8") Protección Contra Derrames
                button(class="btn bgalery button secondary filter-button" data-filter="9") Línea de Traje
                button(class="btn bgalery button secondary filter-button" data-filter="10") Protección de Alturas
                button(class="btn bgalery button secondary filter-button" data-filter="11") Seguridad Vial
                button(class="btn bgalery button secondary filter-button" data-filter="12") Protección de Manos


              br
              div.products-lineas
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1 ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Cara Completa 4200")
                    img(src="img/productos/10/repiradores/Cara Completa 4200.jpg" width="50%" height="100%" Title="Cara Completa 4200" alt="Cara Completa 4200")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1  ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Cara Completa 5400")
                    img(src="img/productos/10/repiradores/Cara Completa 5400.jpg" width="50%" height="100%" title="Cara Completa 5400" alt="Cara Completa 5400")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter 1 ih-item square effect6 from_top_and_bottom hdpe zoom-in")
                  a(href="#Cara Completa 6800")
                    img(src="img/productos/10/repiradores/Cara Completa 6800.jpg" width="50%" height="100%" title="Cara Completa 6800" alt="Cara Completa 6800")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter 1 ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Filtro y Cartuchos")
                    img(src="img/productos/10/repiradores/Filtro y Cartuchos.jpg" width="50%" height="100%" title="Filtro y Cartuchos" alt="Filtro y Cartuchos")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1 ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Media Cara 420")
                    img(src="img/productos/10/repiradores/Media Cara 420.jpg" width="50%" height="100%" title="Media Cara 420" alt="Media Cara 420")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product filter 1 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Media Cara 6200")
                    img(src="img/productos/10/repiradores/Media Cara 6200.jpg" width="50%" height="100%" title="Media Cara 6200" alt="Media Cara 6200")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1 ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Media Cara 7500")
                    img(src="img/productos/10/repiradores/Media Cara 7500.jpg" width="50%" height="100%" title="Media Cara 7500" alt="Media Cara 7500")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1 ih-item square effect6 from_top_and_bottom zoom-in")
                  a(href="#Respirador R2 V")
                    img(src="img/productos/10/repiradores/Respirador R2 V.jpg" width="50%" height="100%" title="Respirador R2 V" alt="Respirador R2 V")
                    .info
                      h3 Heading here
                      p Description goes here

                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 1 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Respirador R20")
                    img(src="img/productos/10/repiradores/Respirador R20.jpg" width="50%" height="100%" title="Respirador R20" alt="Respirador R20")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Maverick")
                    img(src="img/productos/10/visual/Maverick.jpg" width="50%" height="100%" title="Maverick" alt="Maverick")
                    .info
                      h3 Heading here
                      p Description goes here
                
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Sierra")
                    img(src="img/productos/10/visual/Sierra.jpg" width="50%" height="100%" title="Sierra" alt="Sierra")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Nemesis")
                    img(src="img/productos/10/visual/Nemesis.jpg" width="50%" height="100%" title="Nemesis" alt="Nemesis")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Lentes de Malla Forest")
                    img(src="img/productos/10/visual/Lentes de Malla Forest.jpg" width="50%" height="100%" title="Lentes de Malla Forest" alt="Lentes de Malla Forest")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Jackson V50")
                    img(src="img/productos/10/visual/Jackson V50.jpg" width="50%" height="100%" title="Jackson V50" alt="Jackson V50")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Virtua V8")
                    img(src="img/productos/10/visual/Virtua V8.jpg" width="50%" height="100%" title="Virtua V8" alt="Virtua V8")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Virtua")
                    img(src="img/productos/10/visual/Virtua.jpg" width="50%" height="100%" title="Virtua" alt="Virtua")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#Visio")
                    img(src="img/productos/10/visual/Visio.jpg" width="50%" height="100%" title="Visio" alt="Visio")
                    .info
                      h3 Heading here
                      p Description goes here
                div(style="border:none !important;box-shadow:none !important;" class="gallery_product  filter 2 ih-item square effect6 from_top_and_bottom spray zoom-in")
                  a(href="#W585 V100")
                    img(src="img/productos/10/visual/W585 V100.jpg" width="50%" height="100%" title="W585 V100" alt="W585 V100")
                    .info
                      h3 Heading here
                      p Description goes here

              
 
 
 
  include ../blocks/linkcontacto.pug   

    

