.gray{
    position: relative;
    box-sizing: border-box;
    height: 50px;
    margin-top: -30px ;
    background: url('../../../img/gray-div.png') no-repeat;
    background-position: 0 0 ;
    background-repeat: no-repeat;
    z-index: 99999;
    
}
.main-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //border: 1px solid red;
    height: 100px;
    position: relative;
   // top: -30px;
    z-index: 1;
    width: 100%;
    @include desde($mediun ) {
      height: 200px;
    }

  
    &__item {
        position: absolute;
        width: 80%;
        height: 150px; //border: 1px solid black;        
        top: 0px;
        padding: 0px;
        margin: 0px;
    
        @include desde($large) {
            width: 70%;
            margin: 0px auto;
            padding: 20px 0px;
        }
     
        &__items {
            position: absolute;
            text-align: center;
            width: 25%;
            opacity: 0;
            transition: 1s opacity;
           // border: 1px solid yellow;
            list-style: none;
            margin: 20px 0px;
            @include desde($mediun) {
            
            }
            @include desde($large) {
            }
            &__link {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                  text-decoration: none;
              }
                &__img {
                    // border:1px solid red;
                    width: 30px;
                    height: 30px;
                    margin: 0px auto;
                    @include desde($mediun) {
                        width: 80px;
                        height: 80px;
                    }
                }
                &__title {
                    padding: 10px;
                    color: $blue;
                    font-family: $robotob;
                    font-size: .6em;
                    @include desde($mediun) {
                        padding: 10px 20px;
                        font-size: 1em;
                    }
               
                }
            }
        }
    }
}

.activo {
    opacity: 1;
}
