div.service-bottom
  div(class="service-bottom__content l-container")
    div(class="service-bottom__content__content1 bounceleft")
      span.service-bottom__content__content1__title  Para mas información sobre nuestro servicio...
    div(class="service-bottom__content__content2 bounceright")
      a(class="service-bottom__content__content2__button button secondary" href="contacto.html") Contactenos
        i(class="icon-bottom icon-chevron-right")
