

ul( class='main-menu' id='oculto')   
  each page in pages
    // Operador ternario que añade la clase active si el item de menu coincide con la pagina
    -page == currentPage ? menuactivo = 'menuactivo' : menuactivo = ''
    if page != 'index'
      li.main-menu__item: a(href=page class='main-menu__item__link '+menuactivo) #{page}   


   

  