    .main-ubicacion {
    height: auto; // border: 1px solid red;
    //margin-bottom: 50px;
    &__content {
        background: linear-gradient(180deg, #fff, rgba(204, 255, 250, 0.5));
        text-align: center; //padding-top: 50px;
        &__title {
            color: $blue;
            font-size: 2em;
            font-family: $robotob;
            margin: 20px 0px;
  
        }
        hr {
            height: 2px;
            width: 40px;
            position: relative;
            text-align: center;
            margin: 10px auto;
            background-color: $yellow;
            border: none;
        }
        &__map {
            // padding-top: 50px; 
            //border: 5px solid $white;
            height: 500px;
            iframe {
                width: 100%;
                height: 500px;
            }
            img {
                display: none;
                @include desde($large) {
                    position: relative;
                    right: -300px;
                    top: -450px;
                    width: 250px;
                    height: 350px;
                    display: inline-block;
                }
            }
        }
    }    
  }
