.main-count {
    position: relative;
    height: auto;
    padding: 30px 0px;
    background: #f5f5f5 url('../img/count.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    margin: 50px 0px;
    @include desde($large) {
      padding: 150px 0px;
  }
    &__content {
      display: flex;
      flex-wrap: wrap;
        &__item {
            //border:1px solid red;
            width: 25%;
            margin: 0px auto;
          
            &__number {
                font-size: 1.2em;
                display: flex;
                justify-content: center;
                color: $yellow;
                font-family: $robotob;
                @include desde($mediun) {
                    font-size: 1.5em;
                }
                @include desde($large) {
                    font-size: 3em;
                }
            }
            &__text {
                font-size: .8em;
                display: flex;
                justify-content: center;
                font-family: $robotob;
                color: $white;
                margin: 0px;
                @include desde($mediun) {
                    font-size: 1em;
                }
                @include desde($large) {
                    font-size:2em;
                }
            }
        }
    }
}
