
.button {
    color: $white;
    font-size: 1.8em;
    transition: all .25s;
    &.primary {
        background: $yellow;
        &:hover {
            background: $blue;
            color: $yellow;
            transition: all .25s;
            text-decoration: none;
        }
    }
    &.secondary {
        background: transparent;
        color: $black;
        border:1px solid $black;
        border-radius: 3px;
        &:hover {
            background: $black;
            color: $yellow;
            transition: all .25s;           
            text-decoration: none;
        }
    }
    &.tercer {
      background: transparent;

        border:1px solid $yellow;
        color: $white;
        border-radius: 3px;
        &:hover {
            background: $black;
            color: $yellow;
            transition: all .25s;
            text-decoration: none;
        }
    }
    &.contact {
        background: $blue;
        color: $yellow;
        &:hover {
            background: $yellow;
            color: $black;
            transition: all .25s;
            text-decoration: none;
        }
    }


}
