.main-catalog {
    background: $blue;
    position: relative;
    z-index: 1;
    color: #fff;
    //height: 500px;
    overflow-x: hidden !important;
    @include desde($mediun) {
        background: url('../../../img/catalogo.jpg') no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    &__item {
 
        &__content {
            padding: 100px 0px;
            text-align: center;
            @include desde($mediun) {
              padding: 120px 0px;
            }
        
         
            &__title {
                font-size: 2em;
                font-family: $robotob;
          
               
            }
            hr {
                height: 2px;
                width: 40px;
                position: relative;
                text-align: center;
                margin: 10px auto;
                background-color: $yellow;
                border: none;
                
            }
            &__tex{
                font-family: $robotol;
                padding: 10px 0px;
                font-size: 1.2em;
                overflow: hidden;
            }
            &__button {
                text-decoration: none;
                width: auto;
                padding: 10px 40px;
                font-family: $robotob;
                font-size: 1em;
                letter-spacing: 2px;     
                background: transparent;      
                &:focus {
                    display: none;
                }

           
            }
        }
    }
}
